parameters:
    locale: 'en'
    comment_cooldown: 10 # tempo de espera entre comentários em segundos
    tax_percentage: 10 # porcentagem de taxa que ficará retida ao realizar um comentário com moeda
    notification_lifespan: 3600 # tempo de vida de uma notificação até ela expirar

services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false
        bind:
            $commentCooldown: '%comment_cooldown%'
            $environment: '%env(APP_ENV)%'
            $taxPercentage: '%tax_percentage%'
            $notificationLifespan: '%notification_lifespan%'

    App\:
        resource: '../src/*'
        exclude: '../src/{DependencyInjection,Entity,Migrations,Tests,Kernel.php}'

    App\Controller\:
        resource: '../src/Controller'
        tags: ['controller.service_arguments']