parameters:
    locale: 'en'
    comment_cooldown: 60 # time to wait between comments
    tax_percentage: 10

services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false
        bind:
            $commentCooldown: '%comment_cooldown%'
            $environment: '%env(APP_ENV)%'
            $taxPercentage: '%tax_percentage%'

    App\:
        resource: '../src/*'
        exclude: '../src/{DependencyInjection,Entity,Migrations,Tests,Kernel.php}'

    # controllers are imported separately to make sure services can be injected
    # as action arguments even if you don't extend any base controller class
    App\Controller\:
        resource: '../src/Controller'
        tags: ['controller.service_arguments']

    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones
